.changeEtabPortlet, .changeEtabPortlet form, .changeEtabPortlet input {
	margin: 0;
	padding: 0;
	border: 0;
	display: inline;
}

.changeEtabPortlet {
	/*
	border: 1px solid red;
	padding: 5px;
	margin: 5px;
	display: block;
	*/
}

.changeEtabPortletMessages {
	display: none;
}

/************ Conatainer 1 ************/

.changeEtabPortlet form span {
	padding: 5px;
	border: 2px solid transparent;
}

.changeEtabPortlet .etabSelected {
	border: 2px dashed orange;
}

/************ Conatainer 2 ************/

.changeEtabPortlet .changeEtab-dialog {
	display: none;
	visibility: hidden;
}

