.changeEtabPortlet, .changeEtabPortlet form, .changeEtabPortlet input {
	margin: 0;
	padding: 0;
	border: 0;
	display: inline;
}

.changeEtabPortletMessages {
	display: none;
}

/************ Container 1 ************/

/*
.changeEtabPortlet form span {
	padding: 5px;
	border: 2px solid transparent;
}

.changeEtabPortlet .etabSelected {
	border: 2px dashed orange;
}
*/

/************ Container 2 & 3 ************/

.changeEtabPortlet .iconified {
 	padding: 15px 15px;
}
/*
.changeEtabPortlet .changeEtab-dialog {
	display: none;
	visibility: hidden;
}
*/

.changeEtabPortlet input.changeEtab-submit {
  padding: 5px;
}

 /************ Container 4 ************/
.changeEtabPortlet .changeEtab-dialog .current {
	margin-bottom: 15px;
}
.changeEtabPortlet .changeEtab-dialog form div, .changeEtabPortlet .changeEtab-dialog form input {
	line-height: 40px;
}
.changeEtabPortlet .changeEtab-dialog form fieldset {
	margin-bottom: 15px;
}
.changeEtabPortlet .changeEtab-dialog span.structId {
	font-size: 75%;
}