.changeEtabPortlet, .changeEtabPortlet form, .changeEtabPortlet input {
	margin: 0;
	padding: 0;
	border: 0;
	display: inline;
}

.changeEtabPortletMessages {
	display: none;
}

/************ Conatainer 1 ************/

/*
.changeEtabPortlet form span {
	padding: 5px;
	border: 2px solid transparent;
}

.changeEtabPortlet .etabSelected {
	border: 2px dashed orange;
}
*/

/************ Conatainer 2 & 3 ************/

.changeEtabPortlet .iconified {
 	padding: 15px 15px;
}
/*
.changeEtabPortlet .changeEtab-dialog {
	display: none;
	visibility: hidden;
}
*/

.changeEtabPortlet input.changeEtab-submit {
  padding: 5px;
}

.changeEtab-dialog .message {
	margin-bottom: 10px;
}
