<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:ehcache="http://www.springmodules.org/schema/ehcache" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
	http://www.springmodules.org/schema/ehcache http://www.springmodules.org/schema/cache/springmodules-ehcache.xsd
	http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.1.xsd">

	<!-- | APP CONFIGURATION + -->
    
    <bean id="userInfoService" class="org.esco.portlet.changeetab.service.impl.BasicUserInfoService">
    	<property name="userIdInfoKey" value="${userInfo.key.userId}" />
    	<property name="currentEtabIdInfoKey" value="${userInfo.key.currentEtabId}" />
    	<property name="etabIdsInfoKey" value="${userInfo.key.etabIds}" />
    </bean>
    
    <bean id="entrepriseService" class="org.esco.portlet.changeetab.service.impl.CachingEtablissementService">
    	<property name="cachingDuration" value="60000" />
    	<property name="etablissementCache" ref="etablissementsCache" />
    	<property name="etablissementDao" ref="etablissementDao" />
    </bean>
    
    <bean id="userService" class="org.esco.portlet.changeetab.service.impl.BasicUserService">
    	<property name="userDao" ref="userDao" />
    </bean>
    
    <bean id="etablissementDao" class="org.esco.portlet.changeetab.dao.impl.MockEtablissementDao" />
    
    <bean id="userDao" class="org.esco.portlet.changeetab.dao.impl.MockUserDao">
    	<property name="currentEtabIdLdapKey" value="${ldap.write.attribute.currentEtabId}" />
    	<property name="userDn" value="${ldap.write.peopleDn}" />
    	<property name="userIdTemplate" value="${peopleDn.templateId}" />
    </bean>
    
    
	<!-- | CACHE CONFIGURATION + -->

	<!-- EHCache Configuration -->
	<bean id="cacheManager"
		class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
		<property name="configLocation">
			<value>classpath:ehcache.xml</value>
		</property>
	</bean>

	<!-- Etablissements cache -->
	<bean id="etablissementsCache" class="org.springframework.cache.ehcache.EhCacheCache">
		<constructor-arg>
			<bean class="org.springframework.cache.ehcache.EhCacheFactoryBean"
				p:cacheManager-ref="cacheManager" p:cacheName="etablissementsCache" />
		</constructor-arg>
	</bean>

	<!-- | GENERAL PORTLET CONFIGURATION + -->

	<!-- Properties configuration -->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
		lazy-init="false">
		<property name="locations">
			<list>
				<value>classpath:configuration.properties</value>
			</list>
		</property>
	</bean>

	<!-- Message source for this context, loaded from localized "messages_xx" 
		files -->
	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource"
		p:basenames="i18n/messages" p:useCodeAsDefaultMessage="true" />

	<!-- | View resolvers, look for a named view bean before going to JSP resolution 
		+ -->
<!-- 	
	<bean class="org.springframework.web.servlet.view.XmlViewResolver"
		p:order="0" p:location="/WEB-INF/context/views.xml" />
 -->
 
	<!-- JSP view resolver -->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		p:prefix="/WEB-INF/jsp/" p:suffix=".jsp" />

	<!-- Abstract Default Exception Handler Bean -->
	<bean id="defaultExceptionHandlerTemplate"
		class="org.springframework.web.portlet.handler.SimpleMappingExceptionResolver"
		abstract="true">
		<property name="defaultErrorView" value="defError" />
		<property name="exceptionMappings">
			<props>
				<prop key="javax.portlet.PortletSecurityException">notAuthorized</prop>
				<prop key="javax.portlet.UnavailableException">notAvailable</prop>
			</props>
		</property>
	</bean>

</beans>