<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd">

	<!-- | APP CONFIGURATION + -->

    <bean id="userInfoService" class="org.esco.portlet.changeetab.service.impl.BasicUserInfoService">
    	<property name="currentEtabIdInfoKey" value="${userInfo.key.currentEtabId}" />
    	<property name="etabIdsInfoKey" value="${userInfo.key.etabIds}" />
    </bean>

    <bean id="entrepriseService" class="org.esco.portlet.changeetab.service.impl.CachingEtablissementService">
    	<property name="cachingDuration" value="3600000" /> <!-- in millis -->
    	<property name="etablissementCache" ref="etablissementsCache" />
    	<property name="etablissementDao" ref="etablissementDao" />
    </bean>

    <bean id="userService" class="org.esco.portlet.changeetab.service.impl.BasicUserService">
    	<property name="userDao" ref="userDao" />
    </bean>

    <!-- LDAP DAO -->
	<bean id="etabLdapTemplate" class="org.springframework.ldap.core.LdapTemplate">
		<property name="contextSource">
		    <bean class="org.springframework.ldap.core.support.LdapContextSource">
				<property name="url" value="${ldap.read.connect.url}" />
				<property name="userDn" value="${ldap.read.connect.userDn}" />
				<property name="password" value="${ldap.read.connect.password}" />
			</bean>
		</property>
	</bean>

	<bean id="userLdapTemplate" class="org.springframework.ldap.core.LdapTemplate">
		<property name="contextSource">
		    <bean class="org.springframework.ldap.core.support.LdapContextSource">
				<property name="url" value="${ldap.write.connect.url}" />
				<property name="userDn" value="${ldap.write.connect.userDn}" />
				<property name="password" value="${ldap.write.connect.password}" />
			</bean>
		</property>
	</bean>

    <bean id="etablissementDao" class="org.esco.portlet.changeetab.dao.impl.LdapEtablissementDao">
    	<property name="ldapTemplate" ref="etabLdapTemplate" />
    	<property name="etablissementBase" value="${ldap.read.etablissementBaseDn}" />
    	<property name="allEtabsFilter" value="${ldap.read.filter.allEtablissements}" />
    	<property name="etabIdLdapAttr" value="${ldap.read.attribute.etablissementId}" />
    	<property name="etabNameLdapAttr" value="${ldap.read.attribute.etablissementName}" />
    	<property name="etabDisplayNameLdapAttr" value="${ldap.read.attribute.etablissementDisplayName}" />
    	<property name="etabDescriptionLdapAttr" value="${ldap.read.attribute.etablissementDescription}" />
        <property name="etablissementFormatters">
            <list>
                <!-- Pour les lycées et CLG remplacement du premier - par un espace (afin d'avoir "CLG MONTRESOR") et supression de la chaîne -ac-ORL._TOURS -->
                <bean class="org.esco.portlet.changeetab.dao.bean.LdapEtablissementDisplayNameFormater">
                    <property name="groupsRegex" value="[^-]*(-).*(-ac-ORL._TOURS)" />
                    <property name="indexListReplacement">
                        <util:map>
                            <entry key="1" value=" " />
                            <entry key="2" value="" />
                        </util:map>
                    </property>
                </bean>
            </list>
        </property>
    </bean>

    <bean id="userDao" class="org.esco.portlet.changeetab.dao.impl.LdapUserDao">
    	<property name="ldapTemplate" ref="userLdapTemplate" />
    	<property name="currentEtabIdLdapKey" value="${ldap.write.attribute.currentEtabId}" />
    	<property name="userDn" value="${ldap.write.peopleDn}" />
    	<property name="userIdTemplate" value="${peopleDn.templateId}" />
    </bean>

    <!-- Mocked DAO -->
    <!--
    <bean id="etablissementDao" class="org.esco.portlet.changeetab.dao.impl.MockEtablissementDao" />

    <bean id="iserDao" class="org.esco.portlet.changeetab.dao.impl.MockUserDao">
    	<property name="currentEtabIdLdapKey" value="${ldap.write.attribute.currentEtabId}" />
    	<property name="userDn" value="${ldap.write.peopleDn}" />
    	<property name="userIdTemplate" value="${peopleDn.templateId}" />
    </bean>
     -->

	<!-- EHCache Configuration -->
	<bean id="cacheManager"
		class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean" p:cacheManagerName="ChangeEtab.cacheManager" p:shared="true">
		<property name="configLocation">
			<value>classpath:ehcache.xml</value>
		</property>
	</bean>

	<!-- Etablissements cache -->
	<bean id="etablissementsCache" class="org.springframework.cache.ehcache.EhCacheCache">
		<constructor-arg>
			<bean class="org.springframework.cache.ehcache.EhCacheFactoryBean"
				p:cacheManager-ref="cacheManager" p:cacheName="etablissementsCache"/>
		</constructor-arg>
	</bean>

	<!-- | GENERAL PORTLET CONFIGURATION + -->

	<!-- Properties configuration -->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
		lazy-init="false">
		<property name="locations">
			<list>
				<value>classpath:configuration.properties</value>
			</list>
		</property>
	</bean>

	<!-- Message source for this context, loaded from localized "messages_xx"
		files -->
	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource"
		p:basenames="i18n/messages" p:useCodeAsDefaultMessage="true" />

    <!-- Abstract Default Exception Handler Bean -->
    <bean id="defaultExceptionHandlerTemplate"
          class="org.springframework.web.portlet.handler.SimpleMappingExceptionResolver"
          abstract="true">
        <property name="defaultErrorView" value="defError" />
        <property name="exceptionMappings">
            <props>
                <prop key="javax.portlet.PortletSecurityException">notAuthorized</prop>
                <prop key="javax.portlet.UnavailableException">notAvailable</prop>
            </props>
        </property>
    </bean>

</beans>